body{
    
    background-color: white;
}


.form-control{
    background-color: rgb(14, 13, 13);
    border:1px solid black;
    font-weight: bold;
    font-size:20px ;
    color:red;
}


.form-control:focus{

    box-shadow: none;
    color:red;
    font-weight: bold;
    font-size:20px

}